/*============================
contenu de ce fichier 
==============================*
1.left section
2.right section=>animation
*/
section.hero{
    margin-top: 3rem;
}
/*============================
1.left section
==============================*
*/
section.hero .parent-avatar.flex{
    align-items: end;
    gap: 0.6rem;
}
section.hero .left-section{
    flex-grow: 1;
}
section.hero .icon-verified{
    color: var(--color-bleu);
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.light section.hero .icon-verified {
    color: var(--color-profile-image);
}

section.hero .avatar{
    box-shadow: 1rem;
    width: 160px;
    border-radius: 50%;
    border: 1px solid var(--color-bleu);
    padding: 2px;
    margin-right: 0.5rem;
}
.light section.hero .avatar {
    border: 1px solid var(--color-profile-image);
    box-shadow: 1px 1px 60px rgb(35, 35, 36, 0.5);
    content: url(../../../public/avatar-light.png);
}
section.hero h1.title{
    font-size: 2.6rem;   
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--color-title);
}
 section.hero p.sub-title{
    color: var(--color-subtitle);
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin-bottom: 32px;
 }
section.hero div.all-icons,section.hero #icon{
    font-size: 1.5rem;
    gap: 2.3rem;
    color: var(--color-subtitle);
    transition: 0.3s;
}
section.hero div.all-icons #icon:hover {
    font-size: 1.4rem;
    transition: 0.2s;
    cursor: pointer;
    color: var(--color-icons-hover);
}
@media (max-width:768px) {
    section.hero h1.title {
        font-size: 2rem;
        color: var(--color-title);
    }
}
@media (max-width:768px) {
    section.hero .left-section {
        margin:24px;
    }
}

/*============================
2.right section =>animation
==============================*
*/
section.hero .animation {
    width: 300%;
    translate: 60px 50px;
}

@media (min-width:1440px) {
   section.hero .animation {
    width: 150%;
    translate: 100px 10px;
}}
@media (max-width:1000px) {
    section.hero .animation {
        display: none;
    }
    
}
