section.hero{
    margin-top: 3rem;
}
/*============================
1.left section
==============================*
*/
section.hero .parent-avatar.flex{
    align-items: end;
    gap: 0.6rem;
}
section.hero .left-section{
    flex-grow: 1;
}
section.hero .icon-verified{
    color: var(--color-bleu);
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid var(--color-bleu);
    padding: 2px;
    margin-right: 0.5rem;
}
section.hero h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--color-title);
}
 section.hero p.sub-title{
    color: var(--color-subtitle);
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin-bottom: 32px;
 }
section.hero div.all-icons{
    font-size: 1.2rem;
    gap: 1.5rem;
    color: var(--color-subtitle);
    transition: 0.3s;
}
section.hero div.all-icons .icon:hover {
    font-size: 1.3rem;
    transition: 0.2s;
    cursor: pointer;
    color: var(--color-icons-hover);
}














/*============================
2.right section =>animation
==============================*
*/