/*============================
contenu de ce fichier 
==============================*
1.Header Design 
2.Button & Icon
3.Modal == Pop Up
4.Responsive Design (media query)
*/


/*============================
1.Header Design
==============================*
*/
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flex nav {
    background-color: var(--color-bgheader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px rgba(114, 112, 112, 0.29);
}

header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--color-title);
    opacity: 0.8;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    letter-spacing: 2px;
}

header ul li a {
    position: relative;
}

header ul li a:hover {
    color: var(--color-bleu);
    opacity: 1;
    font-size: 1.2rem;
}

header ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #00f, rgba(0, 255, 255, 0.726));
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
    transform: translateX(-1.5rem);
}

header ul li a:hover::after {
    opacity: 1;
    transform: translateX(0%);
}

header button {
    font-size: 1.2rem;
}

header.flex .menu {
    display: none;
}

/*============================
2.Button & Icon
==============================*
*/

header button.menu ,header button.mode
{
background-color: var(--color-bgheader);
height:2.4rem ;
width: 2.4rem ;
border-radius: 50%;
justify-content:center ;
text-align: center;
color: var(--color-subtitle);
border: 1px solid rgba(244, 165, 96, 0.249);
transition: 0.2s;
box-shadow: 1px 1px 60px rgb(35,35,36,0.5);
}

header button.menu, header button.mode:hover{
    color: var(--color-title);
    border: 1px solid rgba(244, 165, 96, 0.8);
}
header .icon-sun{
    color: orange;
}
header .icon-close{
    font-size: 1.3rem;
    color: var(--color-title);
    transition: 0.3s;
    
}
header .icon-close:hover {
    font-size: 1.5rem;
    color: crimson;
    rotate: 180deg;
}

/*============================
3.Modal==Pop Up
==============================*
*/
header .fixed {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: rgba(40, 40, 48, 0.3);
    backdrop-filter: blur(3px);
}
.light header .fixed {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: #88888891;
    backdrop-filter: blur(3px);
}

@keyframes mymove {
    0% {scale: 0;}
    60% {scale:1.2;}
    100% { scale : 1;}
}

header .fixed ul.modal {
    animation: mymove 0.7s 1;
    width: 75%;
    scale:1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background: var(--secondary-color);
}
.light header .fixed ul.modal{
    background: var(--color-bgheader);
    
}
.light header .fixed ul.modal li{
        border-bottom: 1px solid var(--color-title);
            padding-bottom: 1rem;
            padding-top: 0.5rem;
}
header .fixed ul.modal li {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

header .fixed ul.modal li:last-child {
    border: none;
}

header .fixed ul.modal li a {
    font-size: 1rem;
}
header .fixed ul.modal li:first-child {
    text-align: right;
    border: none;
    padding-bottom:0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
}

/*============================
4.Responsive Design (media query)
==============================*
*/
@media (max-width:800px) {
    header.flex nav {
        display: none;
    }

    header.flex .menu {
        display: block;
    }
}
@media (max-width:600px) {
    header.flex {
        padding: 0px
    }
}